<launch>
    
    <param name="scan_line" type="int" value="16" />

    <!-- if 1, do mapping 10 Hz, if 2, do mapping 5 Hz. Suggest to use 1, it will adjust frequence automaticlly -->
    <param name="mapping_skip_frame" type="int" value="1" />

    <!-- remove too closed points -->
    <param name="minimum_range" type="double" value="0.3"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_pub" args="0 0 0 3.141592 0 0 map camera_init"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="imu_ref_frame_pub" args="0 0 0 -4.712388 4.712388 0 imu_ref_frame map"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="pls_ref_frame_pub" args="0 0 0 0 0 3.141592 pls_ref_frame imu_ref_frame"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="imu_base_pub" args="0.074 0.0133 -0.15 1.57079 0 -1.57079 aft_mapped imu_link"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_base_pub" args="0 0 0 -1.57079 0 0 aft_mapped velodyne"/>
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="gps_base_pub" args="0.77 -0.0133 0.025 0 0 0 aft_mapped gps_link"/> -->

    <param name="mapping_line_resolution" type="double" value="0.2"/>
    <param name="mapping_plane_resolution" type="double" value="0.4"/>

    <node pkg="aloam_velodyne" type="ascanRegistration" name="ascanRegistration" output="screen" />

    <node pkg="aloam_velodyne" type="alaserOdometry" name="alaserOdometry" output="screen" />

    <node pkg="aloam_velodyne" type="alaserMapping" name="alaserMapping" output="screen" />

    <arg name="rviz" default="true" />
    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find aloam_velodyne)/rviz_cfg/aloam_velodyne.rviz" />
    </group>

</launch>
